@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-SemiBold.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}

/* site header pixer start */

.site-header-pixer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  background: #ffffff;
  border-bottom: 1px solid #eeeef4;
}

.header-inner {
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.pixer-logo-link {
  margin-right: 50px;
}

.pixer-nav {
}

.pixer-nav-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 402px;
  display: flex;
}

.nav-list {
  margin: 0;
  margin-right: 30px;
}

.nav-list:last-child {
  margin-right: 0;
}

.item-link {
  margin: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #101010;
}

.pixer-header-link {
  display: block;
  margin: 0;
  margin-left: auto;
  padding: 12px 24px;
  width: 156px;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  background: #101010;
  border-radius: 6px;
}

/* site header pixer finish */

/* section pixer hero */

.pixer-hero {
  padding: 180px 0 156px;
}

.pixer-hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pixer-hero-content {
  width: 550px;
  margin-right: 74px;
}

.pixer-hero-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  color: #101010;
}

.pixer-hero-text {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.pixer-hero-link {
  display: block;
  margin: 0;
  padding: 20px 40px;
  width: 168px;
  text-decoration: none;
  background: #1aab7b;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

/* section it-courses start */

.it-courses {
  padding: 50px 0;
  background: #f2f4f6;
}

.it-courses-inner {
}

.it-courses-title {
  margin: 0 0 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
}

.it-courses-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.it-courses-lists {
  width: 384px;
  padding: 30px;
  margin-right: 32px;
  margin-bottom: 32px;
  background: #f2f4f6;
  border: 2px solid #e1e7ed;
  border-radius: 6px;
}

.it-courses-lists:nth-child(1) {
  color: #ffffff;
  background: #1aab7b;
  border-radius: 6px;
}
.it-courses-lists:nth-child(3) {
  margin-right: 0;
}
.it-courses-lists:nth-child(5) {
  margin: 0;
  margin-right: auto;
}

.it-courses-list-title {
  margin: 0 0 11px;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #101010;
}

.it-courses-list::after {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 43px;
  background-image: url("../images/web-designer-min.svg");
  background-repeat: no-repeat;
  background-size: 64px 64px;
  content: "";
} 

.it-courses-list-text {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.it-courses-list-link {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}

/* section it-courses finish */

/* section pixer work start */

.pixer-work {
  padding: 100px 0 155px;
}

.pixer-work-inner {
}

.pixer-work-content {
  margin: 0 auto;
  width: 650px;
  text-align: center;
}

.pixer-work-desc {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  color: #101010;
}

.pixer-work-text {
  margin: 0 0 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.pixer-work-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pixer-work-list {
  width: 1080px;
}

.pixer-work-list:nth-child(1) {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  height: 390px;
  background-image: url('../images/discuss.jpg');
  background-repeat: no-repeat;
  background-position: left center;
}
.pixer-work-list:nth-child(2) {
  margin: 100px 0 94px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 390px;
  background-image: url('../images/work.jpg');
  background-repeat: no-repeat;
  background-position: right center;
}
.pixer-work-list:nth-child(3) {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  height: 390px;
  background-image: url('../images/company-work.jpg');
  background-repeat: no-repeat;
  background-position: left center;
}

.pixer-box {
  width: 488px;
}

.pixer-work-box-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #101010;
}

.pixer-work-box-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}
/* section pixer work finish */

/* section pixer form start */
.pixer-form {
  padding: 150px 0 200px;
}

.pixer-form-inner {
}

.pixer-form-box {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.pixer-form-title {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
}

.pixer-form-text {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.pixer-form-content {
  display: block;
  margin: 0 auto;
  padding: 64px 0;
  width: 1008px;
  background: #f2f4f6;
  border-radius: 6px;
  text-align: center;
}

.input-text {
  display: block;
  margin: 0 auto;
  padding-bottom: 21px;
  width: 384px;
  background: #f2f4f6;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #101010;
  border: none;
  border-bottom: 1px solid #636f8733;
}

.input-tel {
  display: block;
  margin: 26px auto 0;
  padding: 25px 0 21px;
  width: 384px;
  background: #f2f4f6;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #101010;
  border: none;
  border-bottom: 1px solid #636f8733;
}
.input-choose {
  display: block;
  margin: 26px auto 0;
  padding: 25px 0 21px;
  width: 384px;
  background: #f2f4f6;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #101010;
  border: none;
  border-bottom: 1px solid #636f8733;
}

.button {
  display: block;
  margin: 40px auto 24px;
  padding: 20px 69.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  background: #1aab7b;
  border-radius: 6px;
}

.pixer-form-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #858ea2;
}

/* section pixer form finish */

/* pixer-site-footer start */

.pixer-site-footer {
  background: #101010;
}

.site-footer-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pixer {
  padding: 100px 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #3b4155;
}

.pixer-site-footer-list {
  margin-right: 151px;
}

.pixer-site-footer-list:last-child {
  margin-left: auto;
  margin-right: 0;
}

.pixer-site-footer-strong {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.site-footer-items-link {
  display: block;
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
  text-decoration: none;
}

.footer-item {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-list {
  margin-right: 45px;
}

.footer-list:last-child {
  margin-right: 0;
}

.footer-box {
  display: flex;
  align-items: center;
}

.pixer-logo-link {
}

.pixer-site-footer-small {
  margin-left: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}
