@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-SemiBold.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}

/* site header pixer start */

.site-header-pixer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeef4;
}

.header-inner {
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.pixer-logo-link {
  margin-right: 50px;
}

.header-img:hover {
  opacity: 0.8;
}

.header-img:active {
  opacity: 0.6;
}

.pixer-nav-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 402px;
  display: flex;
}

.nav-list {
  margin: 0;
  margin-right: 30px;
}

.nav-list:last-child {
  margin-right: 0;
}

.item-link {
  margin: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #101010;
}

.item-link:hover {
  color: #1aab7b;
}

.item-link:active {
  color: #1aab7b;
  opacity: 0.6;
}

.pixer-header-link {
  display: block;
  margin: 0;
  margin-left: auto;
  padding: 10px 22px;
  width: 156px;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  background-color: #101010;
  border-radius: 6px;
  border: 1px solid #1aab7b;
}

.pixer-header-link:hover {
  background-color: #ffffff;
  border: 1px solid #1aab7b;
  border-radius: 6px;
  color: #1aab7b;
  transition: all 0.4s ease;
}

.pixer-header-link:active {
  background-color: #101010;
  opacity: 0.6;
  border-radius: 6px;
  color: #fff;
}

/* site header pixer finish */

/* section pixer hero start */

.pixer-hero {
  padding: 180px 0 156px;
}

.pixer-hero-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.pixer-hero-content {
  width: 550px;
  margin-right: 74px;
}

.pixer-hero-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  color: #101010;
}

.pixer-hero-text {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.pixer-hero-link {
  display: block;
  margin: 0;
  padding: 17px 37px;
  width: 168px;
  text-decoration: none;
  background-color: #1aab7b;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  border: 1.5px solid #1aab7b;
}

.pixer-hero-link:hover {
  background-color: #ffffff;
  border: 1.5px solid #1aab7b;
  border-radius: 6px;
  color: #1aab7b;
  transition: all 0.4s ease;
}

.pixer-hero-link:active {
  background-color: #1aab7b;
  opacity: 0.7;
  border-radius: 6px;
  color: #fff;
}

/* section pixer hero finish */

/* section it-courses start */

.it-courses {
  padding: 50px 0;
  background-color: #f2f4f6;
}

.it-courses-title {
  margin: 0 0 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
}

.it-courses-items {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.it-courses-lists {
  position: relative;
  width: 384px;
  padding: 40px 30px;
  margin-right: 32px;
  margin-bottom: 32px;
  background-color: #f2f4f6;
  border: 2px solid #e1e7ed;
  border-radius: 6px;
}

.it-courses-lists:nth-child(1) {
  background-color: #1aab7b;
  border-radius: 6px;
}

.it-courses-lists:nth-child(1)::after {
  position: absolute;
  top: 30px;
  right: 30px;
  content: url("../images/web-designer-min.svg");
}

.it-courses-lists:nth-child(2)::after {
  position: absolute;
  top: 30px;
  right: 30px;
  content: url("../images/smm-min.svg");
}

.it-courses-lists:nth-child(2):hover {
  background-color: #1aab7b;
  border-radius: 6px;
  transition: all 0.4s ease;
}

.it-courses-lists:nth-child(3) {
  margin-right: 0;
}

.it-courses-lists:nth-child(3)::after {
  position: absolute;
  top: 30px;
  right: 30px;
  content: url("../images/branding-min.svg");
}

.it-courses-lists:nth-child(3):hover {
  background-color: #1aab7b;
  border-radius: 6px;
  transition: all 0.4s ease;
}

.it-courses-lists:nth-child(4) {
  margin-bottom: 0;
}

.it-courses-lists:nth-child(4):hover {
  background-color: #1aab7b;
  border-radius: 6px;
  transition: all 0.4s ease;
}

.it-courses-lists:nth-child(4)::after {
  position: absolute;
  top: 30px;
  right: 30px;
  content: url("../images/developer-min.svg");
}

.it-courses-lists:nth-child(4):hover {
  background-color: #1aab7b;
  border-radius: 6px;
  transition: all 0.4s ease;
}

.it-courses-lists:nth-child(5) {
  margin: 0;
  margin-right: auto;
}

.it-courses-lists:nth-child(5)::after {
  position: absolute;
  top: 30px;
  right: 30px;
  content: url("../images/graphic-design-min.svg");
}

.it-courses-lists:nth-child(5):hover {
  background-color: #1aab7b;
  border-radius: 6px;
  transition: all 0.4s ease;
}

.it-courses-lists-box {
  width: 324px;
}

.it-courses-list-title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #101010;
}

.it-courses-list-text {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.active {
  margin-bottom: 23px;
}

.it-courses-list-link {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  text-decoration: none;
}

.active-title {
  color: #ffffff;
}

.active-link {
  color: #fff;
  text-decoration: underline;
}
/* section it-courses finish */

/* section pixer work start */

.pixer-work {
  padding: 100px 0 155px;
}

.pixer-work-inner {
}

.pixer-work-content {
  margin: 0 auto;
  width: 650px;
  text-align: center;
}

.pixer-work-desc {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  color: #101010;
}

.pixer-work-text {
  margin: 0 0 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.pixer-work-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pixer-work-list {
  width: 1080px;
}

.pixer-work-list:nth-child(1) {
  margin-right: 208px;
  display: flex;
  padding-top: 26px;
  height: 390px;
  flex-direction: row-reverse;
  background-image: url("../images/discuss.jpg");
  background-repeat: no-repeat;
  background-position: left center;
}

.pixer-work-list:nth-child(2) {
  margin: 100px 0 94px;
  margin-left: 208px;
  padding-top: 62px;
  display: flex;
  height: 390px;
  background-image: url("../images/work.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.pixer-work-list:nth-child(3) {
  margin-right: 208px;
  display: flex;
  padding-top: 22px;
  height: 390px;
  flex-direction: row-reverse;
  background-image: url("../images/company-work.jpg");
  background-repeat: no-repeat;
  background-position: left center;
}

.pixer-box {
  width: 488px;
}

.pixer-work-box-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #101010;
}

.pixer-work-box-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}
/* section pixer work finish */

/* section pixer form start */
.pixer-form {
  padding: 150px 0 200px;
}

.pixer-form-inner {
}

.pixer-form-box {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.pixer-form-title {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
}

.pixer-form-text {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.pixer-form-content {
  display: block;
  margin: 0 auto;
  padding: 64px 0;
  width: 1008px;
  background-color: #f2f4f6;
  border-radius: 6px;
  text-align: center;
}

.input-text {
  display: block;
  margin: 0 auto;
  padding-bottom: 21px;
  width: 384px;
  background-color: #f2f4f6;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #101010;
  border: none;
  border-bottom: 1px solid #636f8733;
}

.input-tel {
  display: block;
  margin: 26px auto 0;
  padding-bottom: 21px;
  width: 384px;
  background-color: #f2f4f6;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #101010;
  border: none;
  border-bottom: 1px solid #636f8733;
}

.select {
  display: block;
  margin: 26px auto 0;
  padding-top: 5px;
  padding-bottom: 21px;
  width: 384px;
  background-color: #f2f4f6;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #101010;
  border: none;
  border-bottom: 1px solid #636f8733;
}

.button {
  display: block;
  margin: 40px auto 24px;
  padding: 20px 69.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  border: 1px solid #1aab7b;
  background-color: #1aab7b;
  border-radius: 6px;
  border: 1.5px solid #1aab7b;
}

.button:hover {
  background-color: #ffffff;
  border: 1.5px solid #1aab7b;
  border-radius: 6px;
  color: #1aab7b;
  transition: all 0.4s ease;
}

.button:active {
  background-color: #1aab7b;
  opacity: 0.7;
  border-radius: 6px;
  color: #fff;
}

.pixer-form-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #858ea2;
}

/* section pixer form finish */

/* pixer-site-footer start */

.pixer-site-footer {
  background-color: #101010;
}

.site-footer-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pixer {
  padding: 100px 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #3b4155;
}

.pixer-site-footer-list {
  margin-right: 151px;
}

.pixer-site-footer-list:last-child {
  margin-left: auto;
  margin-right: 0;
}

.pixer-site-footer-strong {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.site-footer-items-link {
  display: block;
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
  text-decoration: none;
}

.site-footer-items-link:hover {
  color: #1AAB7B;
}

.footer-item {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-list {
  margin-right: 45px;
}

.footer-list:last-child {
  margin-right: 0;
}

.footer-box {
  padding: 49px 0 50px;
  display: flex;
  align-items: center;
}

.pixer-logo-link {
}

.pixer-site-footer-small {
  margin-left: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}
